@page "/VerifyEmail/{UserId}"
@layout AuthenticationLayout
@inject ILoginService _loginService
@inject IJSRuntime _jsRuntime
@inject HttpClient _httpClient

<div class="auth-wrapper auth-basic px-2">
    <div class="auth-inner my-2">
        <!-- verify email basic -->
        <div class="card mb-0">
            <div class="card-body">
                <a href="/" class="brand-logo">
                    <svg height="100px" viewBox="0 0 1402 877" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M636.536 325.516L636.835 325.581C621 341.78 611.24 363.952 611.24 388.405C611.24 438.023 651.427 478.247 701 478.247C750.573 478.247 790.76 438.023 790.76 388.405C790.76 370.914 785.766 354.589 777.127 340.783L867.098 269.833C890.96 303.259 905 344.191 905 388.405C905 501.174 813.666 592.592 701 592.592C588.334 592.592 497 501.174 497 388.405C497 303.733 548.491 231.098 621.841 200.16L621.848 200.145C621.848 200.145 621.867 200.139 621.903 200.125C621.939 200.113 621.989 200.094 622.057 200.069C626.441 198.226 630.905 196.531 635.439 194.992C657.909 186.217 702.7 167.601 726.704 149.915C759.607 125.675 790.352 76 790.352 76C790.352 76 827.744 132.425 826.664 172.784C826.164 191.477 823.779 207.071 818.251 221.294C812.635 235.746 803.775 248.783 790.352 262.218C763.719 288.876 719.768 298.563 708.344 298.563C707.574 298.563 706.709 298.55 705.756 298.535L705.565 298.532C692.304 298.321 662.663 297.849 636.536 325.516ZM759.395 353.196C762.599 352.118 766.069 353.844 767.147 357.05L761.346 359.002C767.147 357.05 767.147 357.053 767.148 357.054L767.15 357.06L767.155 357.075L767.169 357.118L767.191 357.184L767.214 357.257C767.236 357.322 767.261 357.402 767.29 357.495C767.315 357.569 767.341 357.653 767.369 357.746C767.499 358.163 767.679 358.76 767.895 359.519C768.326 361.036 768.899 363.208 769.492 365.892C770.674 371.249 771.95 378.72 772.305 387.165C773.005 403.867 770.13 425.508 754.386 441.56C738.581 457.675 716.829 460.532 700.031 459.755C691.531 459.362 683.989 458.03 678.579 456.802C675.866 456.185 673.671 455.592 672.137 455.146C671.369 454.923 670.766 454.736 670.345 454.602C670.133 454.535 669.968 454.482 669.85 454.442L669.788 454.422C669.758 454.411 669.731 454.403 669.71 454.396L669.666 454.381L669.652 454.376L669.646 454.375C669.644 454.374 669.642 454.373 671.624 448.577L669.642 454.373C666.444 453.277 664.739 449.794 665.834 446.593C666.928 443.394 670.405 441.688 673.601 442.78L673.603 442.781L673.606 442.782L673.612 442.783C673.626 442.788 673.651 442.797 673.688 442.809C673.763 442.834 673.884 442.873 674.049 442.925C674.379 443.031 674.885 443.188 675.55 443.38C676.88 443.767 678.839 444.298 681.287 444.854C686.198 445.969 693.001 447.166 700.596 447.517C715.992 448.229 733.437 445.431 745.652 432.977C757.927 420.462 760.716 402.969 760.075 387.679C759.759 380.129 758.612 373.391 757.541 368.535C757.006 366.115 756.494 364.181 756.122 362.868C755.936 362.213 755.785 361.714 755.683 361.389C755.661 361.319 755.642 361.257 755.625 361.203C755.603 361.132 755.585 361.076 755.571 361.034L755.546 360.959L755.545 360.954L755.544 360.951L755.543 360.949C754.469 357.744 756.193 354.273 759.395 353.196ZM746.468 374.202C745.391 370.995 741.921 369.27 738.717 370.348C735.517 371.424 733.793 374.891 734.862 378.095L734.864 378.1L734.865 378.103C734.866 378.104 734.866 378.106 740.445 376.228L734.866 378.106L734.871 378.123C734.882 378.154 734.9 378.211 734.925 378.292C734.976 378.454 735.053 378.712 735.151 379.057C735.347 379.747 735.62 380.778 735.908 382.077C736.484 384.687 737.097 388.302 737.266 392.336C737.613 400.593 736.068 409.483 729.952 415.719C723.898 421.893 715.069 423.447 706.75 423.062C702.693 422.875 699.044 422.234 696.402 421.635C695.088 421.336 694.042 421.052 693.342 420.849C692.992 420.747 692.73 420.666 692.565 420.614C692.515 420.597 692.474 420.584 692.443 420.574C692.422 420.567 692.405 420.561 692.393 420.557L692.374 420.552L690.392 426.347C692.374 420.551 692.372 420.551 692.371 420.55L692.368 420.549L692.363 420.548C689.169 419.46 685.695 421.166 684.602 424.363C683.507 427.563 685.212 431.047 688.41 432.142L690.341 426.497C688.41 432.142 688.412 432.143 688.414 432.144L688.419 432.145L688.43 432.149L688.461 432.16C688.486 432.168 688.517 432.178 688.554 432.191C688.63 432.215 688.732 432.249 688.86 432.29C689.117 432.371 689.476 432.483 689.929 432.614C690.834 432.877 692.116 433.223 693.694 433.582C696.835 434.295 701.224 435.072 706.186 435.301C715.907 435.75 729.042 434.136 738.688 424.301C748.272 414.529 749.901 401.491 749.496 391.822C749.289 386.893 748.546 382.545 747.859 379.434C747.514 377.871 747.179 376.602 746.925 375.707C746.798 375.259 746.69 374.904 746.612 374.65C746.572 374.522 746.539 374.421 746.516 374.346C746.503 374.308 746.493 374.278 746.485 374.253L746.475 374.222L746.471 374.211L746.469 374.206C746.469 374.204 746.468 374.202 740.667 376.154L746.468 374.202Z" fill="url(#paint0_linear_206:18)"/>
                        <path d="M138.2 789.8C126.867 789.8 115.867 788.4 105.2 785.6C94.5333 782.8 85.8667 779.067 79.2 774.4L92.2 745.2C98.4667 749.333 105.733 752.667 114 755.2C122.267 757.733 130.4 759 138.4 759C153.6 759 161.2 755.2 161.2 747.6C161.2 743.6 159 740.667 154.6 738.8C150.333 736.8 143.4 734.733 133.8 732.6C123.267 730.333 114.467 727.933 107.4 725.4C100.333 722.733 94.2667 718.533 89.2 712.8C84.1333 707.067 81.6 699.333 81.6 689.6C81.6 681.067 83.9333 673.4 88.6 666.6C93.2667 659.667 100.2 654.2 109.4 650.2C118.733 646.2 130.133 644.2 143.6 644.2C152.8 644.2 161.867 645.267 170.8 647.4C179.733 649.4 187.6 652.4 194.4 656.4L182.2 685.8C168.867 678.6 155.933 675 143.4 675C135.533 675 129.8 676.2 126.2 678.6C122.6 680.867 120.8 683.867 120.8 687.6C120.8 691.333 122.933 694.133 127.2 696C131.467 697.867 138.333 699.8 147.8 701.8C158.467 704.067 167.267 706.533 174.2 709.2C181.267 711.733 187.333 715.867 192.4 721.6C197.6 727.2 200.2 734.867 200.2 744.6C200.2 753 197.867 760.6 193.2 767.4C188.533 774.2 181.533 779.667 172.2 783.8C162.867 787.8 151.533 789.8 138.2 789.8ZM282.492 647C295.159 647 306.159 649.133 315.492 653.4C324.826 657.533 332.026 663.533 337.092 671.4C342.159 679.133 344.692 688.267 344.692 698.8C344.692 709.333 342.159 718.467 337.092 726.2C332.026 733.933 324.826 739.933 315.492 744.2C306.159 748.333 295.159 750.4 282.492 750.4H258.092V787H218.492V647H282.492ZM280.092 719.2C288.226 719.2 294.359 717.467 298.492 714C302.626 710.4 304.692 705.333 304.692 698.8C304.692 692.267 302.626 687.2 298.492 683.6C294.359 680 288.226 678.2 280.092 678.2H258.092V719.2H280.092ZM436.553 789.8C421.753 789.8 408.42 786.667 396.553 780.4C384.82 774.133 375.553 765.467 368.753 754.4C362.086 743.333 358.753 730.867 358.753 717C358.753 703.133 362.086 690.667 368.753 679.6C375.553 668.533 384.82 659.867 396.553 653.6C408.42 647.333 421.753 644.2 436.553 644.2C451.353 644.2 464.62 647.333 476.353 653.6C488.22 659.867 497.486 668.533 504.153 679.6C510.953 690.667 514.353 703.133 514.353 717C514.353 730.867 510.953 743.333 504.153 754.4C497.486 765.467 488.22 774.133 476.353 780.4C464.62 786.667 451.353 789.8 436.553 789.8ZM436.553 757C443.62 757 450.02 755.333 455.753 752C461.486 748.667 466.02 744 469.353 738C472.686 731.867 474.353 724.867 474.353 717C474.353 709.133 472.686 702.2 469.353 696.2C466.02 690.067 461.486 685.333 455.753 682C450.02 678.667 443.62 677 436.553 677C429.486 677 423.086 678.667 417.353 682C411.62 685.333 407.086 690.067 403.753 696.2C400.42 702.2 398.753 709.133 398.753 717C398.753 724.867 400.42 731.867 403.753 738C407.086 744 411.62 748.667 417.353 752C423.086 755.333 429.486 757 436.553 757ZM562.941 678.4H519.941V647H645.341V678.4H602.541V787H562.941V678.4ZM786.494 787L786.094 712.8L750.094 773.2H732.494L696.694 714.8V787H660.094V647H692.694L741.894 727.8L789.894 647H822.494L822.894 787H786.494ZM850.914 647H890.514V787H850.914V647ZM1007.09 787L978.088 743.6L949.488 787H904.287L955.288 716.2L906.488 647H951.088L979.088 687.4L1006.69 647H1049.49L1000.69 714.6L1052.69 787H1007.09ZM1174.25 756.4V787H1061.85V647H1171.65V677.6H1101.05V701.2H1163.25V730.8H1101.05V756.4H1174.25ZM1245.43 789.8C1234.09 789.8 1223.09 788.4 1212.43 785.6C1201.76 782.8 1193.09 779.067 1186.43 774.4L1199.43 745.2C1205.69 749.333 1212.96 752.667 1221.23 755.2C1229.49 757.733 1237.63 759 1245.63 759C1260.83 759 1268.43 755.2 1268.43 747.6C1268.43 743.6 1266.23 740.667 1261.83 738.8C1257.56 736.8 1250.63 734.733 1241.03 732.6C1230.49 730.333 1221.69 727.933 1214.63 725.4C1207.56 722.733 1201.49 718.533 1196.43 712.8C1191.36 707.067 1188.83 699.333 1188.83 689.6C1188.83 681.067 1191.16 673.4 1195.83 666.6C1200.49 659.667 1207.43 654.2 1216.63 650.2C1225.96 646.2 1237.36 644.2 1250.83 644.2C1260.03 644.2 1269.09 645.267 1278.03 647.4C1286.96 649.4 1294.83 652.4 1301.63 656.4L1289.43 685.8C1276.09 678.6 1263.16 675 1250.63 675C1242.76 675 1237.03 676.2 1233.43 678.6C1229.83 680.867 1228.03 683.867 1228.03 687.6C1228.03 691.333 1230.16 694.133 1234.43 696C1238.69 697.867 1245.56 699.8 1255.03 701.8C1265.69 704.067 1274.49 706.533 1281.43 709.2C1288.49 711.733 1294.56 715.867 1299.63 721.6C1304.83 727.2 1307.43 734.867 1307.43 744.6C1307.43 753 1305.09 760.6 1300.43 767.4C1295.76 774.2 1288.76 779.667 1279.43 783.8C1270.09 787.8 1258.76 789.8 1245.43 789.8Z" fill="url(#paint1_linear_206:18)"/>
                        <defs>
                            <linearGradient id="paint0_linear_206:18" x1="905" y1="76" x2="497" y2="593" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#7367F0"/>
                                <stop offset="1" stop-color="#9E95F5"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_206:18" x1="1327" y1="593" x2="1292.72" y2="925.65" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#7367F0"/>
                                <stop offset="1" stop-color="#9E95F5"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </a>
                <h2 class="card-title fw-bolder mb-1">Verifique su correo electrónico ✉️</h2>
                <p class="card-text mb-2">
                    Hemos enviado el código de verificación a su dirección de correo electrónico:
                    <span class="fw-bolder">@_user.Email</span>
                </p>
                <EditForm Model="_emailVerificationCode" OnValidSubmit="ValidateEmailVerificationCode" class="auth-forgot-password-form mt-2">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <div class="mb-2">
                        <label for="verification-code" class="form-label">Código de verificación</label>
                        <InputText class="form-control" id="verification-code" type="text"
                                   placeholder="Escriba el código de verificación" tabindex="1" autofocus=""
                                   @bind-Value="_emailVerificationCode.CodeVerifyEmail"
                                   onkeyup="this.value=this.value.toUpperCase();"
                                   maxlength="6">
                        </InputText>
                        <div class="text-danger form-label">
                            <ValidationMessage For="() => _emailVerificationCode.CodeVerifyEmail"></ValidationMessage>
                        </div>
                    </div>
                    @if (_verificationProcess)
                    {
                        <button class="btn btn-primary w-100" tabindex="5" disabled="">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Verificando...
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary w-100" tabindex="2">Verificar</button>
                    }
                </EditForm>
                <p class="text-center mt-2">
                    <span>¿No es su correo electrónico? </span>
                    <a href="/register">
                        <span>Vuelve a registrarte</span>
                    </a>
                </p>
            </div>
        </div>
        <!-- / verify email basic -->
    </div>
</div>

@code {

    [Parameter]
    public string UserId { get; set; }

    private EmailVerificationCode _emailVerificationCode = new();
    private Session _session = new();
    private User _user = new();
    private bool _verificationProcess;

    protected override async Task OnInitializedAsync()
    {
        await GetUserById();
        await GetSessionByUserEmail();
    }

    private async Task GetUserById()
    {
        _user = await _httpClient.GetFromJsonAsync<User>($"api/user/GetUserById/{UserId}");
    }

    private async Task GetSessionByUserEmail()
    {
        _session = await _httpClient.GetFromJsonAsync<Session>($"api/session/GetSessionByUserEmail/{_user.Email}");
    }

    private async Task ValidateEmailVerificationCode()
    {
        _verificationProcess = true;

        if (_emailVerificationCode.CodeVerifyEmail.Equals(_user.CodeVerifyEmail))
        {
            _user.VerifiedEmail = true;
            await _httpClient.PutAsJsonAsync($"api/user/{_user.Id}", _user);

            await _loginService.Login(_session.UserJwt);
            await _jsRuntime.InvokeAsync<string>("localStorage.setItem", "Email", _user.Email);
            await _jsRuntime.InvokeAsync<string>("localStorage.setItem", "DisplayName", _user.DisplayName);
            await _jsRuntime.InvokeAsync<string>("localStorage.setItem", "IsDj", _user.IsDj);
            await _jsRuntime.InvokeAsync<string>("localStorage.setItem", "UrlProfilePicture", _user.UrlProfilePicture);
            await _jsRuntime.InvokeAsync<string>("localStorage.setItem", "UrlProfile", _user.UrlProfile);

            _verificationProcess = false;
            await _jsRuntime.InvokeAsync<string>("window.location.replace", "/");
        }
        else
        {
            await _jsRuntime.InvokeVoidAsync(
                "showToast",
                "error",
                "Error",
                $"🤔 El código {_emailVerificationCode.CodeVerifyEmail} no es el correcto, inténtelo de nuevo por favor.");
            
            _emailVerificationCode = new EmailVerificationCode();
            _verificationProcess = false;
        }
    }

}