@inherits LayoutComponentBase
@inject IJSRuntime _jsRuntime

<!-- Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-cover">
                <div class="auth-inner row m-0">
                    <!-- Brand logo-->
                    <a class="brand-logo" href="index.html">
                        <img src="public/brand/spotmixes-logo.svg" alt="Logo SpotMixes" style="height: 28px;">
                        <h2 class="brand-text text-primary ms-1">SpotMixes</h2>
                    </a>
                    <!-- End Brand logo-->
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content-->

@code
{
    protected override async Task OnInitializedAsync()
    {
        await _jsRuntime.InvokeVoidAsync("addCssBlankPage");
        await _jsRuntime.InvokeVoidAsync("removeHtml");
    }
}
