@inherits LayoutComponentBase
@inject IJSRuntime _jsRuntime

<!-- Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            @Body
        </div>
    </div>
</div>
<!-- End Content-->

@code
{
    protected override async Task OnInitializedAsync()
    {
        await _jsRuntime.InvokeVoidAsync("addCssBlankPage");
        await _jsRuntime.InvokeVoidAsync("removeHtml");
    }
}