@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime
@inject ILoginService _loginService

<!-- Header -->
<nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-dark navbar-shadow container-xxl">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <ul class="nav navbar-nav d-xl-none">
                <li class="nav-item">
                    <a class="nav-link menu-toggle" href="#">
                        <i class="ri-menu-unfold-fill"></i>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav align-items-center ms-auto">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item me-25">
                        <a class="nav-link" href="#">
                            <i class="ficon ri-chat-1-line"></i>
                            <span class="badge rounded-pill bg-primary badge-up cart-item-count">6</span>
                        </a>
                    </li>
                    <li class="nav-item me-25">
                        <a class="nav-link" href="#">
                            <i class="ficon ri-notification-line"></i>
                            <span class="badge rounded-pill bg-danger badge-up cart-item-count">6</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-nav d-sm-flex d-none">
                                <span class="user-name fw-bolder">@_nickName</span>
                                <span class="user-status">@_email</span>
                            </div>
                            <span class="avatar">
                                <img class="round" src="@_urlProfilePicture" alt="Foto de perfil de @_nickName" height="40" width="40"/>
                                <span class="avatar-status-online"></span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                            <a class="dropdown-item" @onclick="Profile">
                                <i class="ri-user-line"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">
                                <i class="ri-question-line"></i>
                                FAQ
                            </a>
                            <a class="dropdown-item" @onclick="Logout">
                                <i class="ri-logout-box-line"></i>
                                Salir
                            </a>
                        </div>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-sm btn-outline-primary waves-effect me-1" @onclick="Login">Inicia sesión</button>
                    <button class="btn btn-sm btn-info waves-effect waves-float waves-light" @onclick="Register">Comienza gratis</button>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>
<!-- End Header -->

@code
{
    string _email, _nickName, _urlProfilePicture, _urlProfile;

    protected override async Task OnInitializedAsync()
    {
        _email = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "Email");
        _nickName = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "Nickname");
        _urlProfilePicture = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "UrlProfilePicture");
        _urlProfile = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "UrlProfile");
    }

    private async Task Logout() => await _loginService.Logout();
    private void Login() => _navigationManager.NavigateTo("/login");
    private void Register() => _navigationManager.NavigateTo("/register");
    private void Profile() => _navigationManager.NavigateTo($"/profile/{_urlProfile}");
}