<!-- Main Menu-->
<div id="sidenav" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto">
                <a class="navbar-brand" href="#">
                    <span class="brand-logo">
                        <img src="public/brand/spotmixes-logo.svg" alt="Logo SpotMixes" style="height: 24px;"/>
                    </span>
                    <h2 class="brand-text">SpotMixes</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse">
                    <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>
                    <i class="d-none d-xl-block collapse-toggle-icon font-medium-4 text-primary" data-feather="disc"
                       data-ticon="disc">
                    </i>
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" navigation-header">
                <span data-i18n="Apps &amp; Pages">Apps &amp; Pages</span>
                <i data-feather="more-horizontal"></i>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/">
                    <i class="ri-music-line"></i>
                    <span class="menu-title text-truncate">
                        Publicaciones
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/djs">
                    <i class="ri-disc-line"></i>
                    <span class="menu-title text-truncate">
                        DJ's
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="">
                    <i class="ri-radio-line"></i>
                    <span class="menu-title text-truncate" data-i18n="Email">
                        En vivo
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="">
                    <i class="ri-file-2-line"></i>
                    <span class="menu-title text-truncate" data-i18n="Email">
                        Contratos
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Main Menu-->