<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            @ChildContent
        </div>
    </div>
</div>
<!-- END: Content-->

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}