@using SpotMixesBlazor.Shared.ModelsLookup
@using System.Net
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager _navigationManager
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime

<a @onclick="Like" class="btn btn-primary btn-cart">
    @if (_isReactionCreated)
    {
        <i class="ri-heart-fill" style="color: red;"></i>
    }
    else
    {
        <i class="ri-heart-line"></i>
    }
    <span>500</span>
</a>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public string IdHtml { get; set; }
    
    [Parameter]
    public AudioLookup Audio { get; set; }

    private HubConnection _hubConnection;
    private bool _isReactionCreated;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(_navigationManager.ToAbsoluteUri("/reactionhub"))
            .Build();

        _hubConnection.On("ReceiveMessage", async () =>
        {
            await IsReaction();
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
        
        await IsReaction();
    }

    private async Task SendMessage()
    {
        await _hubConnection.SendAsync("SendMessage");
    }

    private bool IsConnected()
    {
        return _hubConnection.State == HubConnectionState.Connected;
    }

    private async Task IsReaction()
    {
        var userId = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "UrlProfile");
        _isReactionCreated = await _httpClient
            .GetFromJsonAsync<bool>($"api/reaction/isReaction/{Audio.Id}/{userId}");
        StateHasChanged();
    }

    private async Task CreateReaction()
    {
        var userId = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "UrlProfile");
        var reaction = new Reaction
        {
            AudioId = Audio.Id,
            UserId = userId
        };
        var httpResponse = await _httpClient.PostAsJsonAsync("api/reaction", reaction);

        if (httpResponse.StatusCode == HttpStatusCode.Created)
        {
            Console.WriteLine("Reaction created");
        }
    }
    
    private async Task DeleteReaction()
    {
        var userId = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "UrlProfile");
        var httpResponse = await _httpClient.DeleteAsync($"api/Reaction/delete/{Audio.Id}/{userId}");
        if (httpResponse.StatusCode == HttpStatusCode.OK)
        {
            Console.WriteLine("Reaction deleted");
            _isReactionCreated = false;
        }
    }
    
    private async Task Like() 
    {
        if (_isReactionCreated)
        {
            await DeleteReaction();
        }
        else
        {
            await CreateReaction();
        }

        if (IsConnected())
        {
            await SendMessage();
        }
    }
}