@page "/Comment"
@layout MainLayout
@inject IJSRuntime _jsRuntime

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="p-1" style="background: #283046; border-radius: 0.428rem;">
                <div class="row">
                    <!-- Audio Cove -->
                    <div class="col-sm-12 col-md-4">
                        <img src="https://i.pinimg.com/originals/27/ff/64/27ff64c36ddc41ef78fc1b346813584a.jpg" alt=""
                             style="width: 100%">
                    </div>
                    <!-- End Audio Cove -->
                    <!-- End Audio Data -->
                    <div class="col-sm-12 col-md-8">
                        <div class="content-audio__data d-flex flex-column">
                            <div class="audio__text d-flex flex-row">
                                <div class="audio__text__play d-flex justify-content-center align-items-center">
                                    <button class="btn btn-icon rounded-circle btn-primary width-50 height-50">
                                        <i class="ri-play-fill"></i>
                                    </button>
                                </div>
                                <div class="audio__text__title">
                                    <h1 class="mt-2">Mix Fiesta</h1>
                                    <a href="">DjklausHidalgo</a>
                                </div>
                            </div>
                            <div class="audio__wave d-flex flex-column justify-content-center">
                                <div id="waveform" class="d-none d-sm-block"></div>
                            </div>
                            <div class="audio__reactions d-flex justify-content-between align-items-end">
                                <a href="" class="text-white">
                                    <i class="ri-heart-line"></i> 500
                                </a>
                                <a href="" class="text-white">
                                    <i class="ri-discuss-fill"></i> 500
                                </a>
                                <a href="" class="text-white">
                                    <i class="ri-share-fill"></i> 500
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Audio Data -->
                    <!-- Comment box -->
                    <div class="col-12 mt-2">
                        <form action="" class="row">
                            <div class="col-sm-12 col-md-10 margin-top-10">
                                <textarea class="form-control p-2" placeholder="Add Comment" rows="1"></textarea>
                            </div>
                            <div class="col-sm-12 col-md-2 d-grid gap-2">
                                <button class="btn btn-outline-primary">
                                    Comentar
                                    <i class="ri-send-plane-fill"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--/ End Comment box -->
                    <!-- Comments -->
                    <div class="comment-body mt-1">
                        <div class="d-flex align-items-start mb-1 mt-1">
                            <div class="avatar mt-25 me-75">
                                <img src="https://i.pinimg.com/originals/d0/ab/c1/d0abc175e2023571107820067049aa19.png" alt="Avatar" height="34" width="34"/>
                            </div>
                            <div class="profile-user-info w-100 p-1">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="mb-0">Kitty Allanson</h6>
                                    <p>12/02/2000</p>
                                </div>
                                <small>
                                    Easy & smart fuzzy search🕵🏻 functionality which enables users to search quickly.
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- Comments -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _jsRuntime.InvokeVoidAsync("loadWaveSurfer", "https://res.cloudinary.com/kiulcode/video/upload/v1637596120/SpotMixes/AudioData/Tokyo_Machine_-_SLASH_NCS_Release_j1yerb.mp3");
        }
    }
}