<div class="card">
    <div class="card-body">
        <!-- Filter starts -->
        <div class="multi-range-price">
            <h6 class="filter-title mt-0">Rango</h6>
            <ul class="list-unstyled price-range" id="filter-audio">
                <li>
                    <div class="form-check">
                        <input type="radio" id="allAudio" name="filter-audio" 
                               class="form-check-input" @onclick="GetAllAudios" checked/>
                        <label class="form-check-label" for="allAudio">Todas</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input type="radio" id="recentAudio" name="filter-audio" 
                               class="form-check-input" @onclick="GetRecentAudios"/>
                        <label class="form-check-label" for="recentAudio">Recientes</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input type="radio" id="mostListenedAudios" name="filter-audio" 
                               class="form-check-input" @onclick="GetMostListenedAudios"/>
                        <label class="form-check-label" for="mostListenedAudios">Más escuchadas</label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Filter ends -->

        <!-- Genres starts -->
        <div class="brands">
            <h6 class="filter-title">Genero</h6>
            <ul class="list-unstyled brand-list">
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="productBrand1"/>
                        <label class="form-check-label" for="productBrand1">Reggaeton</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="productBrand2" checked/>
                        <label class="form-check-label" for="productBrand2">Salsa</label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Genres ends -->
    </div>
</div>

@code
{
    [Parameter]
    public EventCallback<string> GetAudios { get; set; }
    
    private async Task GetAllAudios() => await GetAudios.InvokeAsync("api/audio/all/0");

    private async Task GetRecentAudios() => await GetAudios.InvokeAsync("api/audio/recent/0");
    
    private async Task GetMostListenedAudios() => await GetAudios.InvokeAsync("api/audio/mostListened/0");
}