<div class="card">
    <div class="card-body">
        <!-- Fecha Filter starts -->
        <div class="multi-range-price">
            <h6 class="filter-title mt-0">Rango</h6>
            <ul class="list-unstyled price-range" id="price-range">
                <li>
                    <div class="form-check">
                        <input type="radio" id="priceAll" name="price-range" class="form-check-input" checked/>
                        <label class="form-check-label" for="priceAll">Todas</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input type="radio" id="priceRange1" name="price-range" class="form-check-input"/>
                        <label class="form-check-label" for="priceRange1">Recientes</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input type="radio" id="priceRange2" name="price-range" class="form-check-input"/>
                        <label class="form-check-label" for="priceRange2">Tendencias</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input type="radio" id="priceARange3" name="price-range" class="form-check-input"/>
                        <label class="form-check-label" for="priceARange3">Más escuchadas</label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Fecha Filter ends -->

        <!-- Genres starts -->
        <div class="brands">
            <h6 class="filter-title">Genero</h6>
            <ul class="list-unstyled brand-list">
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="productBrand1"/>
                        <label class="form-check-label" for="productBrand1">Reggaeton</label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="productBrand2" checked/>
                        <label class="form-check-label" for="productBrand2">Salsa</label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Genres ends -->
    </div>
</div>
