@page "/"
@inject HttpClient _httpClient
@inject QuantityData _quantityData
@inject IJSRuntime _jsRuntime

<!-- BEGIN: Content-->
<div class="app-content content ecommerce-application">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <h2 class="text-primary">Publicaciones</h2>
        </div>
        <div class="content-detached content-right">
            <div class="content-body">
                <!-- Post Header Starts -->
                <section id="ecommerce-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ecommerce-header-items">
                                <div class="result-toggler">
                                    <button class="navbar-toggler shop-sidebar-toggler" type="button" data-bs-toggle="collapse">
                                        <span class="navbar-toggler-icon d-block d-lg-none">
                                            <i class="ri-filter-3-fill"></i>
                                        </span>
                                    </button>
                                    @if (_audios != null)
                                    {
                                        <div class="search-results">@_quantityData.QuantityAudios resultados</div>
                                    }
                                </div>
                                <AuthorizeView>
                                    <Authorized>
                                        <div class="view-options d-flex">
                                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#InsertAudio">
                                                <i class="ri-upload-2-fill me-1"></i>
                                                Publicar
                                            </button>
                                        </div>
                                        <PostAdd GetAudios="GetAudios"></PostAdd>
                                    </Authorized>
                                </AuthorizeView>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Post Header Ends -->

                <!-- background Overlay when sidebar is shown  starts-->
                <div class="body-content-overlay"></div>
                <!-- background Overlay when sidebar is shown  ends-->

                <!-- Post Search Bar Starts -->
                <section id="ecommerce-searchbar" class="ecommerce-searchbar">
                    <div class="row mt-1">
                        <div class="col-sm-12">
                            <div class="input-group input-group-merge">
                                <input type="text" class="form-control search-product" 
                                       placeholder="Buscar por título, género y descripción." aria-label="Buscar..."
                                       @oninput="SearchAudios"/>
                                <span class="input-group-text">
                                    <i class="ri-search-line"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Post Search Bar Ends -->

                <!-- Post List Starts -->
                <section class="row match-height mt-2">
                    @if (_audios == null)
                    {
                        <p>Cargando Audio..</p>
                    }
                    else
                    {
                        @*<div style="height:500px;overflow-y:scroll">
                            @foreach (var audio in _audios)
                            {
                                <Post Audio="audio"></Post>
                            }
                        </div>*@
                        <Virtualize Items="_audios" Context="audio">
                            <Post Audio="audio"></Post>
                        </Virtualize>
                    }
                </section>
                <!-- Post List Ends -->
                <Pagination GetAudios="GetAudios"></Pagination>
                <br><br><br><br><br><br><br>
            </div>
        </div>
        <div class="sidebar-detached sidebar-left">
            <div class="sidebar">
                <!-- Post Sidebar Starts -->
                <div class="sidebar-shop">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="filter-heading d-none d-lg-block">Filtros</h6>
                        </div>
                    </div>
                    <Filters GetAudios="GetAudios"></Filters>
                </div>
                <!-- Post Sidebar Ends -->
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->

<!-- Page JS-->
<script src="src/js/page/app-ecommerce.js" suppress-error="BL9992"></script>
<!-- End Page JS-->

@code
{
    private ICollection<Audio> _audios;
    private string _valueSearch;
    
    protected override async Task OnInitializedAsync()
    {
        await GetAudios($"api/audio/all/0");
        var responseQuantity = await _httpClient.GetAsync("api/audio/quantity");
        _quantityData.QuantityAudios = await responseQuantity.Content.ReadAsStringAsync();
    }

    private async Task GetAudios(string url)
    {
        _audios = await _httpClient.GetFromJsonAsync<ICollection<Audio>>(url);
    }

    private async Task SearchAudios(ChangeEventArgs e)
    {
        if (!string.IsNullOrEmpty(e.Value?.ToString()))
        {
            var valueSearch = e.Value.ToString();
            _audios = await _httpClient.GetFromJsonAsync<ICollection<Audio>>($"api/audio/search/{valueSearch}/0");
        }
    }
}