@page "/"
@using SpotMixesBlazor.Shared.ModelsLookup
@layout MainLayout
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime

<!-- BEGIN: Content-->
<div class="app-content content ecommerce-application">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-detached content-right">
            <div class="content-body">
                <!-- Post Header Starts -->
                <section id="ecommerce-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ecommerce-header-items">
                                <div class="result-toggler">
                                    <button class="navbar-toggler shop-sidebar-toggler" type="button" data-bs-toggle="collapse">
                                        <span class="navbar-toggler-icon d-block d-lg-none">
                                            <i class="ri-filter-3-fill"></i>
                                        </span>
                                    </button>
                                </div>
                                <AuthorizeView>
                                    <Authorized>
                                        @if (_isDj)
                                        {
                                            <button class="btn btn-primary">
                                                <i class="ri-upload-2-fill me-1"></i>
                                                Publicar
                                            </button>
                                        }
                                    </Authorized>
                                </AuthorizeView>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Post Header Ends -->

                <!-- background Overlay when sidebar is shown  starts-->
                <div class="body-content-overlay"></div>
                <!-- background Overlay when sidebar is shown  ends-->

                <!-- Post Search Bar Starts -->
                <section id="ecommerce-searchbar" class="ecommerce-searchbar">
                    <div class="row mt-1">
                        <div class="col-sm-12">
                            <div class="input-group input-group-merge">
                                <input type="text" class="form-control search-product"
                                       placeholder="Buscar mixes..." @bind="_searchText"/>
                                <button class="input-group-text" @onclick="SearchAudios">
                                    <i class="ri-search-line"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Post Search Bar Ends -->

                <!-- Post List Starts -->
                <section class="row mt-2">
                    @if (_audios == null)
                    {
                        <p>Cargando Audio..</p>
                    }
                    else
                    {
                        @foreach (var audio in _audios)
                        {
                            <PostCard Audio="audio"></PostCard>
                        }
                    }
                </section>
                <Pagination GetAudios="GetAudios"></Pagination>
            </div>
        </div>
        <div class="sidebar-detached sidebar-left">
            <div class="sidebar">
                <!-- Post Sidebar Starts -->
                <div class="sidebar-shop">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="filter-heading d-none d-lg-block">Filtros</h6>
                        </div>
                    </div>
                    <Filters GetAudios="GetAudios"></Filters>
                </div>
                <!-- Post Sidebar Ends -->
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->

<!-- Page JS-->
<script src="src/js/page/app-ecommerce.js" suppress-error="BL9992"></script>
<!-- End Page JS-->

@code
{
    [CascadingParameter]
    public Task<AuthenticationState> Authentication { get; set; }
    
    private IReadOnlyList<AudioLookup> _audios;
    private string _searchText;
    bool _isDj;

    protected override async Task OnInitializedAsync()
    {
        var authState = await Authentication;
        var claimsPrincipal = authState.User;

        if (claimsPrincipal.Identity is {IsAuthenticated: true})
        {
            var isDjString = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "IsDj");
            _isDj = bool.Parse(isDjString);
        }

        await GetAudios("api/audio/mostListened/30/1");
    }

    private async Task GetAudios(string url)
    {
        _audios = await _httpClient.GetFromJsonAsync<IReadOnlyList<AudioLookup>>(url);
    }

    private async Task SearchAudios()
    {
        if (!string.IsNullOrEmpty(_searchText))
        {
            _audios = await _httpClient
                .GetFromJsonAsync<IReadOnlyList<AudioLookup>>($"api/audio/searchAudioByTitle/{_searchText}/21/1");
        }
    }
}