@using SpotMixesBlazor.Client.Helpers
@inject AudioPagingService _audioPagingService
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime

<div class="d-flex justify-content-center w-100">
    <ul class="pagination mt-2">
        <li class="page-item prev-item">
            <a @onclick="PrevPage" class="page-link width-50 height-50"></a>
        </li>
        <li class="page-item active">
            <p class="page-link width-50 height-50">
                @{
                    var realSkip = 1;
                    if (_audioPagingService.FilterMostListened)
                    {
                        realSkip = _audioPagingService.SkipMostListened;
                    }
                    else if (_audioPagingService.FilterRecent)
                    {
                        realSkip = _audioPagingService.SkipRecent;
                    }
                    else
                    {
                        realSkip = _audioPagingService.SkipAll;
                    }
                }
                @realSkip
            </p>
        </li>
        <li class="page-item">
            <p class="page-link width-50 height-50">..</p>
        </li>
        <li class="page-item">
            <p class="page-link width-50 height-50">@_numberOfAudiosForPagination</p>
        </li>
        <li class="page-item next-item">
            <a @onclick="NexPage" class="page-link width-50 height-50"></a>
        </li>
    </ul>
</div>

@code {
    [Parameter]
    public EventCallback<string> GetAudios { get; set; }
    
    private long _numberOfAudiosForPagination;

    protected override async Task OnInitializedAsync()
    {
        var numberOfAudios = await _httpClient.GetFromJsonAsync<long>("api/audio/countAudios");
        _numberOfAudiosForPagination = numberOfAudios / 30;
    }

    private async Task PrevPage()
    {
        if (_audioPagingService.FilterMostListened)
        {
            _audioPagingService.SkipMostListened--;
            await GetAudios.InvokeAsync($"api/audio/mostListened/30/{_audioPagingService.SkipMostListened}");   
        } 
        else if (_audioPagingService.FilterRecent)
        {
            _audioPagingService.SkipRecent--;
            await GetAudios.InvokeAsync($"api/audio/recent/30/{_audioPagingService.SkipRecent}");
        }
        else if (_audioPagingService.FilterAll)
        {
            _audioPagingService.SkipAll--;
            await GetAudios.InvokeAsync($"api/audio/all/30/{_audioPagingService.SkipAll}");
        }

        await _jsRuntime.InvokeVoidAsync("window.scroll", "1", "0");
    }

    private async Task NexPage()
    {
        if (_audioPagingService.FilterMostListened)
        {
            _audioPagingService.SkipMostListened++;
            await GetAudios.InvokeAsync($"api/audio/mostListened/30/{_audioPagingService.SkipMostListened}");   
        } 
        else if (_audioPagingService.FilterRecent)
        {
            _audioPagingService.SkipRecent++;
            await GetAudios.InvokeAsync($"api/audio/recent/30/{_audioPagingService.SkipRecent}");
        }
        else if (_audioPagingService.FilterAll)
        {
            _audioPagingService.SkipAll++;
            await GetAudios.InvokeAsync($"api/audio/all/30/{_audioPagingService.SkipAll}");
        }

        await _jsRuntime.InvokeVoidAsync("window.scroll", "1", "0");
    }
}